.top-stories {

  &__all-stories-container,
  &__more-content-container {
    @include flex-grid-row();
  }

  &__all-stories-wrapper,
  &__sidebar-container {
    @include flex-grid-column(3);
  }

  &__stories-wrapper {
    width: 33%;
    display: inline-block;
  }

  &__post-list {
    list-style-type: none;
    padding: 0;
  }

  &__all-stories-card-wrapper,
  &__post-container {
    @include flex-grid-column(8);
  }
}