@mixin max-width-row() {
  @include flex-grid-row();
  max-width: 100%;
}

@mixin clearfix {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
