body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $base;
  font-size: 16px;
  line-height: 22px;
  color: $black;
  background-color: $white;
}

.body-content {
  @include max-width-row();
  margin-top: rem-calc(71);
}