.navbar {
  @include max-width-row();

  position: fixed;
  top: 0;
  left: 0;
  height: rem-calc(71);
  width: 100%;
  background-color: $brand-blue;
  box-shadow: 0 rem-calc(5) rem-calc(15) $lt-gray;

  &__wrapper {
    @include flex-grid-column(10);
    display: block;
    margin: 0 auto;
  }


  &__logo {
    display: inline;
    margin-left: rem-calc(37);
  }

  &__route-list {
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top: rem-calc(8);
  }

  &__route-item {
    display: inline;
    height: rem-calc(71);
  }

  &__route-link {
    @include ListType();
    color: $white;
    padding: rem-calc(22 11);


    &:hover {
      background-color: $white;
      color: $brand-blue;
      outline: none;
    }

    &--logo {
      @include LogoType();

      padding: rem-calc(19 11);

      &:active,
      &:focus,
      &:hover {
        color: $white;
      }
    }
  }
}