.map {

  &__title-bar{
    width: rem-calc(300);
    height: rem-calc(30);
    background-color: $brand-blue;
    color: $white;
    display: flex;
    flex-align: center;
    align-items: center;
  }

  &__title {
    @include HeavyType(20px, $white);
    width: 100%;
  }

  &__wrapper {
    height: rem-calc(250);
    width: rem-calc(300);
  }
}